html {
	height: 100%;
	width: 100%;
}

body {
    -webkit-font-smoothing: antialiased;
    background-color: $color-body-background;
    color: $color-black; 
    font-size: 14px;
    font-family: 'Open Sans', 'Arial', sans-serif; 
    height: 100%;
    overflow-x: hidden;    
    width: 100%;

    &.page-template-page-simple {
        background-image: linear-gradient(to right, #2A2F35, #444D59);
    }
}

a {
    color: $color-primary;
    text-decoration: none;
    transition: color .2s ease;
}

p {
    color: $color-black-light;
    line-height: 24px;
}

h1, h2, h3, h4 {
    margin: 30px 0;
    font-weight: 700;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}
