.listing-manager-filter-form {
	@include susy-clearfix();

	background-color: $color-body-background;
	border-radius: 3px;

	.content &, .content-top & {
		margin-bottom: 30px;
		padding: 25px 25px 5px 25px;
	}

	.sidebar & {
		padding: 16px 16px 6px 16px;
	}
}

.listing-manager-filter-form-inner {
  margin: 0 -15px;

	.form-group {
		box-sizing: border-box;
		float: left;
		padding: 0 15px;
		width: 25%;

		@media (max-width: $tablet) {			
			width: 100%;
		}
	}
}

