label {
	color: $color-black;
	cursor: pointer;
	display: block;
	font-size: 11px;
	font-weight: 600;
	margin: 0 0 15px 0;
	text-transform: uppercase;

	.page-template-page-simple & {
		color: rgba(#fff, .7);
	}
}

select {
	-moz-appearance: none;
	-webkit-appearance: none;

	background-color: #fff;
	background-position: right 15px top 50%;
    background-repeat: no-repeat;
	background-image: url('../img/caret.svg') !important;
	border: 1px solid $color-gray-lighter;
	border-radius: 3px;
	box-shadow: 0 1px 2px 0 rgba(#000, .1);
	cursor: pointer;
	height: 44px;
	padding: 0 15px;

	&:active, &:focus {
		box-shadow: none;
		outline: 0;
	}
}

select[multiple=multiple] {
	background-image: none !important;
	border: 1px solid $color-gray-lighter;
	height: 120px;
	min-width: 220px;
}

input[type=text], input[type=number], input[type=url], input[type=password], input[type=email], input[type=tel], textarea {
	border: 1px solid lighten($color-gray-lighter, 6%);
	box-sizing: border-box;	
	box-shadow: 0 1px 2px 0 rgba(#000, .05);
	border-radius: 3px;
	height: 44px;
	padding: 0 15px;

	&:active, &:focus {
		outline: none;
	}
}

textarea {
	height: auto;
	padding: 10px 15px;
}

form.listing-manager-submission-form fieldset {
	border: 1px solid #f4f4f4 !important;
	border-radius: 3px;
	margin: 0 0 30px 0;
	padding-bottom: 0;
}

form.listing-manager-submission-form fieldset legend {
	clear: both;
	color: $color-black !important;
	display: block;
	float: left;
	font-size: 16px !important;
	font-weight: 700;
	margin: 0 0 0 0; 
	padding: 0 0 25px 0;
	text-transform: none !important;
}

.fieldset-content {
	border-top: 1px solid #f4f4f4;
	clear: both;
	margin: 0 -25px 25px -25px;
	padding: 25px 25px 25px 25px;
}

.form-group {
	position: relative;
}

.form-group-button {
	.button {
		width: 100%;

		@extend .button-primary;
	}
}

.input-group {
	display: table;
	width: 100%;

	> * {
		display: table-cell;
	}

	> input {
		border-radius: 3px 0 0 3px;
	}
}

.input-group-addon {
	background-color: #fff;
	border: 1px solid lighten($color-gray-lighter, 6%);
	border-left: 0;
	border-radius: 0 2px 2px 0;
	box-shadow: 0 1px 1px rgba(#000, .07);
	font-weight: 400;
	padding-left: 13px;
	padding-right: 13px;
	text-align: center;
}

.listing-manager-submission-form-taxonomies {
	.form-group {
		@include span(3 of 12);

		&:nth-child(4n) {
			@include last();
		}
	}
}

.dropdown-menu {
	background-color: #fff;
	border-radius: 3px;
	border: 1px solid #ececec;
	box-shadow: 0 1px 2px 0 rgba(#000, .05);
	left: 0;
	list-style: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;	
	right: 0;
	z-index: 100;

	li {
		&.active {
			background-color: lighten($color-primary, 20%);
		}
	}

	a {
		color: $color-black;
		display: block;
		padding: 8px 15px;
	}

	img {
		display: inline-block; 
		height: auto;
		margin: 0 15px 0 0;
		vertical-align: middle;
		width: 30px;
	}

	strong {
		font-size: 13px;
		font-weight: 400;
		vertical-align: middle;
	}
}