.page-title {		
	margin: 0 auto 70px auto;
	padding: 0 0 50px 0;
	position: relative;
	text-align: center;
	width: 50%;

	@media (max-width: $tablet) {
		width: 100%;
	}

	h1 {
		font-size: 36px;
		font-weight: 400;
		margin: 0;
		padding: 0;

		@media (max-width: $tablet) {
			font-size: 22px;
		}		
	}

	p {
		color: $color-black-light;
		font-size: 16px;
		margin: 30px 0 0 0;
	}

	&:before {
		background-color: rgba(#000, .1);
		bottom: 0;
		content: '';
		display: block;
		height: 1px;
		left: 50%;
		position: absolute;
		transform: translateX(-50%);
		width: 80%;

		@media (max-width: $tablet) {
			width: 100%;
		}
	}

	&:after {
		background-color: #fff;
		border: 1px solid $color-primary;
		bottom: -10px;
		content: '';
		display: block;
		height: 19px;
		left: 50%;
		position: absolute;
		transform: translateX(-50%) rotate(-45deg);
		width: 19px;
	}
}

.page-header {
	padding: 0 0 80px 0;
	text-align: center;

	h2 {
		font-size: 32px;
		font-weight: 400;
		margin: 0;
	}

	p {
		color: rgba($color-black, .7);
		font-size: 16px;
		line-height: 1.7;
		margin: 30px auto 0 auto;
		width: 60%;

		@media (max-width: $tablet) {
			width: 100%;
		}
	}
} 